<p>
  Секој граѓанин има право на пристап до информации од јавен карактер.
  <strong>Според законот, имателите мора да одговорат.</strong>
  <a href="<%= help_about_url %>">Дознајте повеќе за слободниот пристап до информации.</a>
</p>
