<h1>
  <%= _("<span class=\"baranje\">Испратете барање
   за</span><br/>
  <span class=\"foi-text\">Слободен пристап<br/>
  до информации</span>") %>
</h1>
<a class="link_button_green_large" href="<%= select_authority_path %>"><%= _("Почнете веднаш &raquo;") %></a>
