<h2 class="new-request__title">Испратете барање за</h2>
<p class="new-request__description">
  Слободен пристап до информации
</p>
<a class="new-request__make-new-requests" href="<%= select_authority_path %>">Почнете веднаш &raquo;</a>
