<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
 <h1 id="introduction">За „Слободен пристап“<a href="#introduction">#</a> </h1>
<dl>

<dt id="purpose">За што служи страницата „Слободен пристап“? <a href="#purpose">#</a> </dt>
<dd>Оваа страница е креирана со цел да се олесни прицесот за испраќања на барања за слободен пристап до информации од јавен карактер. Преку овој онлајн систем секој заинтересиран граѓанин ќе може да испрати барање за информација од јавен карактер до имателите.
</dd> 

<dt id="premise">Како функционира? <a href="#premise">#</a> </dt>
<dd>Прво ја избирате институцијата (имателот на информација) на која сакате да и се обратите, односно од каде сакате да добиете информација од јавен карактер. Потоа во кратко писмо ја објаснувате информацијата која ја барате од таа институција. Сервисот „Слободен пристап“ го испраќа тоа барање до адресата за е-пошта на таа институција. Секој одговор кој го добива сервисот автоматски се објавува на оваа страница, а за тоа барателот добива порака со нотификација и известување за одговорот од институцијата. Сите информации на оваа страница се јавни и може да бидат пристапени од секој.

</dd> 

<dt id="who">Кој го направи „Слободен пристап“? <a href="#who">#</a> </dt>
<dd>Сервисот е активност на правната програма на <a href="http://fosm.mk/">Фондацијата отворено општество – Македонија</a> (ФООМ), во соработка со <a href="http://metamorphosis.mk/">Метаморфозис, Фондација за интернет и општество</a>. 
</dd>


</dl>
</div>


